In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('./output_data/projection_vs_sportsbook.csv')

In [2]:
df.sort_values(by='Difference', ascending=False, inplace=True)
df

              Player  Projection  Sportsbook Line  Difference
32      Ryan Rollins       21.74             17.5        4.24
37       Kel'el Ware       12.40              8.5        3.90
25       LaMelo Ball       23.04             19.5        3.54
19     Cason Wallace       13.80             10.5        3.30
15    Brandon Ingram       22.48             19.5        2.98
..               ...         ...              ...         ...
42  Collin Gillespie       13.76             16.5       -2.74
50   Anthony Edwards       25.63             28.5       -2.87
55       Luka Doncic       28.34             31.5       -3.16
0       Tyrese Maxey       26.03             29.5       -3.47
39       Jalen Green       16.05             20.5       -4.45

[64 rows x 4 columns]